[Desktop Entry]
Exec=/usr/bin/iceweasel -new-window file:///usr/local/sharemind/share/doc/sharemind/stdlib/html/index.html
Icon=web-browser
Type=Application
Terminal=false
Name=SecreC reference
InitialPreference=9
