[Unit]
Description=zerofree
DefaultDependencies=no
After=systemd-remount-fs.service systemd-fsck-root.service lvm2-monitor.service lvm2-activation.service lvm2-activation-early.service dm-event.service local-fs-pre.target -.mount boot.mount run-rpc_pipefs.mount
Before=local-fs.target shutdown.target
ConditionPathExists=/usr/sbin/zerofree
ConditionPathIsReadWrite=/

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/etc/init.d/zerofree start
StandardOutput=journal+console
TimeoutSec=0

[Install]
WantedBy=local-fs.target
